# 점프투파이썬 2장 이어서

## 3절 리스트

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print(123)

123

## 리스트 만들기

In [5]:
# 빈 리스트
a = []
a

[]

In [6]:
b = [1, 2, 3]
b

[1, 2, 3]

In [8]:
c = ["Life", "is", "short"]
c

['Life', 'is', 'short']

In [9]:
d = [1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [11]:
e = [1, 2, ['Life', 'Is']]
e

[1, 2, ['Life', 'Is']]

## 리스트의 인덱싱

In [16]:
[0,5] # 공간상 첫번째부터 다섯번째까지

[0, 5]

In [13]:
a = [1, 2, 3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [17]:
e

[1, 2, ['Life', 'Is']]

In [19]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [20]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [24]:
b = a[:2]
b

[1, 2]

### 리시트의 연산자

In [26]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [27]:
a + b

[1, 2, 3, 4, 5, 1, 2]

In [31]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [33]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [36]:
#하나의 값 수정하기
a = [1, 2, 3]

In [37]:
a[2] = 4
a

[1, 2, 4]

In [42]:
# 연속된 범위값 수정
a[2:3]

['a']

In [41]:
a[2:3]  = ['a', 'b', 'c']
a

[1, 'a', 'a', 'b', 'c', 'c', 4]

In [44]:
a[2] = ['a', 'b', 'c']
a

[1, 'a', ['a', 'b', 'c'], 'b', 'c', 'c', 4]

In [46]:
# 리스트 요소 삭제
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [47]:
a =[1, 2, 3, 4]
del a [1:3]
a

[1, 4]

### 리스트 함수

In [49]:
# 리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [51]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6], [5, 6]]

In [52]:
# 리스트 정렬하기
a = [1,3, 4, 2, 6]
a.sort()
a

[1, 2, 3, 4, 6]

In [53]:
# 리스트 뒤집기
a = [1, 3, 4, 2, 6]
a.reverse()
a

[6, 2, 4, 3, 1]

In [56]:
# 위치 변환
a = [1 ,2 ,3]
a.index(3)

2

In [59]:
# 리스트에 요소 성립
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [61]:
a.insert(4, 5)
a

[4, 1, 2, 3, 5, 5]

In [63]:
#리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [66]:
#리스트 요소 꺼내기
a = [1, 2, 3]
a.pop()

3

In [65]:
a

[1, 2]

In [68]:
# 요소 개수 세기
a = [1, 2, 3, 1]
a. count(1)

2

In [71]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [72]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

### 튜플

In [73]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = ('a', 'b', 'c')
print (t1, t2,t3, t4)

() (1,) (1, 2, 3) ('a', 'b', 'c')

### 딕셔너리

In [78]:
dic = {'name':'성원', 'phone':'01234'}
print(dic)

{'name': '성원', 'phone': '01234'}

In [79]:
dic['name']

'성원'

In [80]:
dic['phone']

'01234'

In [81]:
dic = {'name' : '성원', 'name' : '길동'}

In [82]:
dic['name']

'길동'

In [83]:
dic.keys()

dict_keys(['name'])

In [84]:
dic.values()

dict_values(['길동'])

### 불 자료형(bool)

In [85]:
3>1

True

In [86]:
1>3

False

In [87]:
if []:
    print ("참")
else:
    print ("거짓")

거짓

# 3장 제어문
## 1. if문

In [89]:
money = 1 # 돈이 있다
if money:
    print("택시를 탄다")
else:
    print("걸어간다")

택시를 탄다

In [ ]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# TAB 1번 또는 스페이스바 4번

In [90]:
money = 2000 # 내 수중에있는 돈
if money >= 3000:
    print ("택시 타자")
else:
    print("걸어간다")

걸어간다

In [92]:
money = 2000
card = 1
if money >= 3000 or card:
    print ("택시 타자")
else:
    print ("응 걸어가")

택시 타자

In [93]:
pocket = ['handphone', 'paper', 'card']
if 'money' in pocket:
    print("택쉬~")
else:
    if card:
        print("택쉬~")
    else:
        print("응 걸어가")

택쉬~

In [96]:
# elif문 사용
if 'money' in pocket:
    print("택쉬~")
elif 'card' in pocket:
    print("택쉬~")
else:
    print("걸어가부려")

택쉬~

In [ ]:
#구문
if <조건문>:
    수정문잔1
    수정문장2
elif <조건문>:
    수정문장A
    수정문장B
else:
    수정문장C