# 2018년 3월 28일 점프투 파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자형
- 리스트

1. 숫자형
2. 문자형

In [1]:
print('3번째 수업')

3번째 수업

In [2]:
[2]

[2]

## 1절 숫자형

In [3]:
123

123

In [4]:
456

456

In [5]:
1+2

3

In [6]:
1/4

0.25

In [8]:
1//4

0

In [9]:
7%4

3

In [10]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산

In [23]:
revenue = 98456

In [24]:
cost = 45000

In [26]:
profit = revenue - cost
print(profit)

53456

## 2절 문자열

In [11]:
boy = "I am a boy"
boy

'I am a boy'

In [13]:
boy

'I am a boy'

In [14]:
girl = 'I am a girl'
girl

'I am a girl'

In [15]:
" i'm a girl"

" i'm a girl"

In [22]:
friend = """
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [20]:
boy + ' ' + girl

'I am a boy I am a girl'

In [31]:
# 문자열 인덱싱
a = 'Life is too short, you need Python'
a[0] + a[10] + a[18]

'Lo '

In [33]:
# 문자열 인덱싱 
a[1]

'i'

In [34]:
a[:20]

'Life is too short, y'

### Lab 2
#### 문자열 다루기
- 변수 a 를 생성해서, 문자열 i love python
- 변수 b를 생성해서 문자열 you hate python

In [27]:
a = 'I love python'
b = 'you hate python'

In [53]:
a = '20180328sunny'
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 sunny

In [41]:
print(year, "년", month, "월", day, "일", weather, "날씨")

2018 년 03 월 28 일 sunny 날씨

In [43]:
"year년 month월 day일 날씨는 weather 입니다"

'year년 month월 day일 날씨는 weather 입니다'

In [49]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다" .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 sunny 입니다'

### Lab3
#### 문자열 포매팅
- 변수 pi를 생상하고 3.141592를 할당하시오
- 변수 so_root를 생성하고 1.41429를 할당하시오

In [48]:
pi = 3.141592
so_root = 1.41429
print(pi, so_root)

3.141592 1.41429

다음의 출력을 포메팅을 사용하여 만드시오.
- pi is 3.141592 and square root of 2 is 1.41429

In [54]:
print("pi는 {fi}이고 so_root는 {po_root}이다" .format(fi=pi, po_root=so_root))

pi는 3.141592이고 so_root는 1.41429이다

## 문자열 내장함수

In [55]:
# 문자 개수 세기
a = "나는 나다"
a.count('나')

2

In [56]:
# 위치 알려주기
a = 'hobby'
a.find('b')

2

In [57]:
# 위치 알려주기2
a.index('b')

2

In [59]:
# 문자열 삽입하기
a = ','
a.join("내이름은 배성원")

'내,이,름,은, ,배,성,원'

In [61]:
# 대문자로
a = " I love python"
a.upper()

' I LOVE PYTHON'

In [63]:
# 소문자로
a.lower()

' i love python'

In [65]:
# 왼쪽 공백지우기
a = ' hi '
a.lstrip()

'hi '

In [66]:
# 오른쪽 공백지우기
a.rstrip()

' hi'

In [67]:
# 양쪽 공백지우기
a.strip()

'hi'

In [68]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서
- 변수 a를 생성하여, 문자열 "I love Python"을 할당하시오.
- 변수 b를 생성하여, 문자열 "You hate Python"을 할당하시오.

- a에서 첫번째로 o의 위치를 find()함수로 찾아보시오
- b에서 첫번째로 o의 위치를 index()함수로 찾아보시오
- a의 'o' 문자 개수를 세시오.

In [69]:
a = "I love Python"
b = " You hate Python"

In [70]:
a.find('o')

3

In [71]:
b.index('o')

2

In [72]:
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

In [73]:
a.upper()

'I LOVE PYTHON'

In [74]:
b.lower()

' you hate python'

- 변수 a_6에 a의 첫 7글자들로 이루어진 부분 문자열을 할당하시오.
- 변수 a_6의 문자열을 공백을 이용하여 나눠보시오.

In [78]:
a_6 = a[0:7]
a_6

'I love '

In [79]:
a_6.split()

['I', 'love']

## 3절 리스트